[Unit]
Description=Alpha4 P2P Messaging Service

[Service]
User=root
Group=root

ExecStart=/usr/share/alpha4/start.sh
ExecStop=/bin/kill -15 $MAINPID

Type=forking

[Install]
WantedBy=default.target